main {
  padding: 0 20%;
}
.nav li {
  padding: 10px 15px;
}
.notice_container {
  grid-template-columns: repeat(3, 1fr);
}
.notice-card {
  padding: 0;
  max-height: 300px;
}
.notice-card:first-child {
  margin-top: 30px;
  grid-column: 1 / 4;
  max-height: 600px;
}
.intro {
  width: 60%;
}